{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":39,"column":0},"end":{"row":39,"column":17},"action":"remove","lines":["pygobject==3.26.1"],"id":2}]]},"ace":{"folds":[],"scrolltop":624.4375,"scrollleft":0,"selection":{"start":{"row":58,"column":19},"end":{"row":58,"column":19},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":136,"mode":"ace/mode/text"}},"timestamp":1585489051071,"hash":"1887e3365b8b6b81824199faa1936e662132008f"}