{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":39,"column":0},"end":{"row":39,"column":17},"action":"remove","lines":["pygobject==3.26.1"],"id":2}],[{"start":{"row":9,"column":0},"end":{"row":9,"column":16},"action":"remove","lines":["CodeIntel==0.9.3"],"id":4}],[{"start":{"row":20,"column":0},"end":{"row":20,"column":14},"action":"remove","lines":["futures==3.3.0"],"id":5}],[{"start":{"row":22,"column":0},"end":{"row":22,"column":12},"action":"remove","lines":["ikpdb==1.2.3"],"id":6}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":11,"column":19},"end":{"row":11,"column":19},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1585490192838,"hash":"e49e471df74fd6acbe0314577052c53e457059fd"}