{% extends 'base.html' %} {% block content %}

<h1>Products</h1>
{% for product in products %}
<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
    <div class="panel-body">
        <img src="{{ MEDIA_URL }}{{ product.image }}"></img> 
        <h1>Products page</h1>
        <h3>{{ product.item }}</h3>
        <p class="product-description"><strong>Description: </strong>{{ product.description }}</p>
        
        <p><strong>Wood: </strong>{{ product.wood }}</p>
        <p><strong>Style: </strong>{{ product.style }}</p>
        <p><strong>Price: </strong>{{ product.price }}</p>

        <form method="POST" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
            </div>
        </form>
    </div>
</div>


{% endfor %} {% endblock %}
