{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}


{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}
<div class="container">
<div class="row">
    {% for item in cart_items %}
        
            <div class="col-12 product">
                <img class="product-image" src="{{ MEDIA_URL }}{{ item.product.image }}"></img>

                
                    <h3 class="info-text">Item: <i>{{ item.product.item }}</i></h3>
                   
                    <p class="info-text">Price: {{ item.product.price }}</p>
                
            </div>
        
    {% endfor %}
    <div class="container">
        <div class="row">
                                <p class="info-text"><strong>Total</strong></p>
                <p class=" info-text"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
        </div>
    </div>
               
</div>
</div>


<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <legend class="info-text">Payment Details</legend>

    <div id="credit-card-errors" style="display: none;">
        <div id="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    <div class="form-group col-md-6">
        {{ order_form | as_bootstrap }}
    </div>

    <div class="form-group col-md-6">
        {{ payment_form | as_bootstrap  }}
    </div>

    {% csrf_token %}
    <div class="form-group col-md-12">
        <input class=" btn buttons info-text" id="submit_payment_btn" name="commit" type="submit" value="Pay">
    </div>
</form>
{% endblock %}