{% extends "base.html" %}
{% load static from staticfiles %}

<body>
  {% block content %}
   <!-- header on homepage containing login and register links if the user isnt authenticated already -->
    <header class="masthead">
  <div class="container h-50">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light info-text">Crafty is a boutique store where you can buy or sell one-off, handmade, bespoke wooden furniture.</h1>
        <p class="info-subtext">If you are new to the site then Register below. If you are already a member then Welcome Back!</p>
        <a class="btn btn btn-lg info-text" href="{% url 'login' %}" role="button">Login</a>
       <a class="btn btn btn-lg info-text" href="{% url 'registration' %}" role="button">Register</a>
      </div>
    </div>
  </div>
</header>
{% endblock %}

</body>
